<%- include('layouts/header.ejs') %>

<div class="w-[100%] h-[100vh] flex justify-center items-center">
  <div class=" flex justify-center items-center gap-6 flex-col p-2 rounded-sm p-4 border-2 border-black">
    <div>
      <h1 class="font-bold text-3xl">Enter Your Email</h1>
    <p class="text-sm italic text-slate-400">
      We will send reset password link in your email
    </p>
    </div>
    <% if( typeof message !== 'undefined' ) { %>
       <% if( locals.success === 'false' ) { %>
          <p class="text-red-500"> <%= locals.message %> </p>
        <% } else{ %>
          <p class="text-green-500"><%= locals.message %></p>
        <% } %> 
    <% } %>

    <form method="post">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter Your Email"
        required
        class="outline-none p-2 border-2 border-slate-500"
      />
      <input
        type="submit"
        value="Send"
        class="p-2 bg-green-500 rounded-sm border-none outline-none cursor-pointer"
      />
    </form>
  </div>
</div>

<%-include('layouts/footer.ejs') %>
