<%- include('./layouts/header.ejs') %>

<div class="w-[100%] h-[100vh] flex justify-center items-center">
    <div class=" flex justify-center items-center gap-6 flex-col p-2 rounded-sm p-4 border-2 border-black>
      <h1 class="font-bold text-3xl">Enter New password</h1>
      <% if(typeof message !== 'undefined'){ %> 
        <p class="text-red-500"><%= message %></p>
      <% } %>
      <form method="post">
        <input
          type="text"
          name="password"
          id="password"
          placeholder="Enter New Password"
          required
          class="outline-none p-2 border-2 border-slate-500"
        /> 
        <input
          type="hidden"
          name="token"
          value="<%= token %>"
          required
        />
        <input type="submit" value="Ok" class="p-2 bg-green-500 rounded-sm border-none outline-none cursor-pointer"/>
      </form>
    </div>
  </div>

<%- include('./layouts/header.ejs') %>