<footer
  class="w-[100%] bg-black text-white flex flex-col lg:flex-row lg:gap-0 gap-y-10 items-center justify-between p-6 h-[100%]"
>
  <div class="lg:w-4/12 w-[100%] flex justify-center items-center text-2xl">
    <ul class="flex justify-center items-center gap-4 w-[100%]  flex-wrap md:gap-6">
      <li><a href="https://instagram.com/sudhanshukush321?igshid=ZDc4ODBmNjlmNQ==" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-brands fa-square-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/sudhanshukush321" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-brands fa-square-facebook"></i></a></li>
      <li><a href="https://github.com/Sudhanshukumar321" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-brands fa-square-github"></i></a></li>
      <li><a href="mailto:sudhanshukush321@gmail.com" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-solid fa-square-envelope"></i></a></li>
      <li><a href="#" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-brands fa-square-youtube"></i></a></li>
      <li><a href="https://www.linkedin.com/in/sudhanshu-kumar-7a6102214" class="hover:bg-black hover:text-white-300  bg-white px-2 py-1 text-red-500 rounded-[50%] "><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div
    class="lg:w-4/12 w-fit h-[100%] flex justify-center items-end sm:items-center lg:border-x-2 border-y-2  lg:border-y-0 lg:p-0 py-6 border-white md:mx-8"
  >
    <p>@Copyright (Sudhanshu Kumar)</p>
  </div>
  <div class="lg:w-4/12 w-[100%] flex justify-center items-center">
    <ul class="w-[100%] flex justify-center items-center flex-col">
      <a href="/">
        <li class="mb-2 hover:text-slate-500"><i class="fa-solid fa-house mr-2"></i> Home</li>
      </a>
      <a href="/about">
        <li class="mb-2 hover:text-slate-500"><i class="fa-solid fa-address-card mr-2"></i>About</li>
      </a>
      <a href="/contact">
        <li class="mb-2 hover:text-slate-500"><i class="fa-solid fa-phone mr-2"></i>Contact us</li>
      </a>
      <% if(locals.user){%>
      <a href="/dashboard">
        <li class="mb-2  hover:text-slate-500">
            <i class="fa-solid fa-arrows-to-dot mr-2 "></i>Dashboard
        </li>
      </a>
      <% }else {%>
      <a href="/signup">
        <li class="mb-2 hover:text-slate-500"><i class="fa-solid fa-user mr-2"></i>Create Account</li>
      </a>
      <a href="/login">
        <li class="mb-2 hover:text-slate-500"><i class="fa-solid fa-right-to-bracket mr-2"></i>login</li>
      </a>
      <% } %>
    </ul>
  </div>
</footer>
